<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NMSModdingStation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <NMSModdingStation.Properties.Settings>
            <setting name="PAKPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MBINCompilerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PSArcToolPath" serializeAs="String">
                <value />
            </setting>
            <setting name="yourModsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PCBANKS" serializeAs="String">
                <value />
            </setting>
            <setting name="unpackedReadOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pakEXML" serializeAs="String">
                <value>False</value>
            </setting>
        </NMSModdingStation.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
